body {
  margin: 0;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  background: rgb(8, 31, 56);

}

h1{
  color: rgb(8, 31, 56);
  text-shadow: 0.2;
}



